* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#cityInput, #cityName, #inputContainer,button{
    margin: 3px;
	padding:5px;
	text-align:center;
	font-size:20px;
	font-weight:bold;
}

.icons{
    display: inline-bock;
    float: left;
    height: 200px;
    width: 190px;
    margin: 20px;
    border-radius: 10px;
}

.image{
    height: 140px;
    width: 100%;
}

.imgClass{
    height: 140px;
    width: 100%;
}

.weather{
    margin: 5px;
    background-color: rgb(106, 215, 255);
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.minValues{
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    height: 25px;
    width: 85px;
    margin: 0;
    margin-bottom: 5px;
    margin-left: 5px;
}


.maxValues{
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    height: 25px;
    width: 85px;
    margin: 0;
    margin-bottom: 5px;
    margin-left: 5px;
}
.button-style{
list-style-type: none;
	background-color: rgb(255,191,0);
	margin: 5px;
	font-family: "Verdana";
	padding: 10px 30px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}
.container{
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction:column;
	background: rgb(251, 242, 133);
	background: radial-gradient(
	circle,
	rgba(251, 242, 133, 0.6334908963585435) 0%,
    rgba(224, 196, 91, 0.8407738095238095) 35%,
    rgba(230, 224, 113, 1) 100%
	);
}